@model IEnumerable<Brand>

@foreach (var brand in Model) {
        <li class="link_container">
        <a asp-area="Customer" asp-controller="Product" asp-action="Brand" asp-route-brandId="@brand.BrandId">@brand.Name</a>
         </li>
}