@model IEnumerable<Category>

@foreach (var cate in Model)
{

    <div class="col-md-4">
        <div class="banner_item align-items-center" style="background-image: url(/images/@cate.ImageUrl">
            <div class="banner_category">
                <a asp-area="Customer" asp-controller="Product" asp-action="Category" asp-route-cateId="@cate.CategoryId">@cate.CategoryId</a>
            </div>
        </div>
    </div>
}