@model IEnumerable<Category>

@foreach (var cate in Model) {
        <li class="link_container">
        <a asp-area="Customer" asp-controller="Product" asp-action="Category" asp-route-cateId="@cate.CategoryId">@cate.Name</a>
         </li>
}