@model int

<div class="container pt-4" style="margin-top: 150px;">
    <div class="text-center">
        <h2 class="text-primary text-center">Order Placed Successfully!</h2>
        Your Order Number is : @Model  <br /><br />
      
    </div>
    <div >
        <img src="~/images/order_confirmation.png" width="30%" style="display: block; margin-left: auto; margin-right: auto;" />

    </div>
    <div class="text-center" style="color:maroon">
        <br />
        Your order has been placed successfully! <br />

    </div>
</div>

