@model Company
@{
    ViewData["Title"] = "Upsert";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@(Model.Id != 0 ? "Update" : "Create") Company</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">@(Model.Id != 0 ? "Update" : "Create") Company</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <form method="post" asp-action="Upsert" enctype="multipart/form-data">
                            <input asp-for="Id" hidden />
                            <div class="card-body row">
                                <div class="form-group col-12">
                                    <label asp-for="Name"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12">
                                    <label asp-for="StreetAddress"></label>
                                    <input asp-for="StreetAddress" class="form-control"/>
                                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                                </div>
                                   <div class="form-group col-6">
                                    <label asp-for="City"></label>
                                    <input asp-for="City" class="form-control"/>
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                   <div class="form-group col-6">
                                    <label asp-for="State"></label>
                                    <input asp-for="State" class="form-control"/>
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <label asp-for="PostalCode"></label>
                                    <input asp-for="PostalCode" class="form-control"/>
                                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <label asp-for="PhoneNumber"></label>
                                    <input asp-for="PhoneNumber" class="form-control"/>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                @if (Model.Id == 0)
                                {
                                    <button type="submit" class="btn btn-primary">Create</button>

                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary">Update</button>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

    }

    }
